<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuniu_mult_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,45}</string>
                <key>textureRect</key>
                <string>{{70,1},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,45}</string>
                <key>spriteSourceSize</key>
                <string>{65,45}</string>
                <key>textureRect</key>
                <string>{{205,1},{65,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,45}</string>
                <key>spriteSourceSize</key>
                <string>{65,45}</string>
                <key>textureRect</key>
                <string>{{272,1},{65,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,46}</string>
                <key>textureRect</key>
                <string>{{138,1},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,45}</string>
                <key>spriteSourceSize</key>
                <string>{65,45}</string>
                <key>textureRect</key>
                <string>{{339,1},{65,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{470,1},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{534,1},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{787,1},{61,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,41}</string>
                <key>textureRect</key>
                <string>{{406,1},{62,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,41}</string>
                <key>spriteSourceSize</key>
                <string>{61,41}</string>
                <key>textureRect</key>
                <string>{{661,1},{61,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,42}</string>
                <key>spriteSourceSize</key>
                <string>{61,42}</string>
                <key>textureRect</key>
                <string>{{598,1},{61,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_mult_yellow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,41}</string>
                <key>spriteSourceSize</key>
                <string>{61,41}</string>
                <key>textureRect</key>
                <string>{{724,1},{61,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>multiple.png</string>
            <key>size</key>
            <string>{849,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fbba0a49c686a04238e6c8dac315b0d:c052516d18a3dd7f7f4ba7dec298f1c6:e83aec36f4eb40d51cac021dad9cc475$</string>
            <key>textureFileName</key>
            <string>multiple.png</string>
        </dict>
    </dict>
</plist>
