<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuniu_cow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{106,66}</string>
                <key>textureRect</key>
                <string>{{159,113},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuniu_cow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{108,532},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,67}</string>
                <key>textureRect</key>
                <string>{{157,221},{104,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuniu_cow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,77}</string>
                <key>spriteSourceSize</key>
                <string>{156,77}</string>
                <key>textureRect</key>
                <string>{{1,82},{156,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,75}</string>
                <key>spriteSourceSize</key>
                <string>{154,75}</string>
                <key>textureRect</key>
                <string>{{1,161},{154,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,79}</string>
                <key>spriteSourceSize</key>
                <string>{157,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,75}</string>
                <key>spriteSourceSize</key>
                <string>{154,75}</string>
                <key>textureRect</key>
                <string>{{1,238},{154,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{113,465},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,67}</string>
                <key>spriteSourceSize</key>
                <string>{109,67}</string>
                <key>textureRect</key>
                <string>{{113,396},{109,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,69}</string>
                <key>textureRect</key>
                <string>{{1,529},{105,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,70}</string>
                <key>spriteSourceSize</key>
                <string>{110,70}</string>
                <key>textureRect</key>
                <string>{{1,315},{110,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{160,1},{110,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuniu_cow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,69}</string>
                <key>spriteSourceSize</key>
                <string>{110,69}</string>
                <key>textureRect</key>
                <string>{{1,387},{110,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,67}</string>
                <key>spriteSourceSize</key>
                <string>{110,67}</string>
                <key>textureRect</key>
                <string>{{113,327},{110,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuniu_cow_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,69}</string>
                <key>spriteSourceSize</key>
                <string>{110,69}</string>
                <key>textureRect</key>
                <string>{{1,458},{110,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>whichCow.png</string>
            <key>size</key>
            <string>{226,599}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a5a53f8c19ede96a24a3624fe49974:fbadf6a9ad60a28ba4b4dcd86b9e9284:8ad6acad5b42e13cafb0620cf72af861$</string>
            <key>textureFileName</key>
            <string>whichCow.png</string>
        </dict>
    </dict>
</plist>
