<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheers0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,86}</string>
                <key>spriteSourceSize</key>
                <string>{131,86}</string>
                <key>textureRect</key>
                <string>{{1,156},{131,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheers1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,75}</string>
                <key>spriteSourceSize</key>
                <string>{144,75}</string>
                <key>textureRect</key>
                <string>{{1,79},{144,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheers2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,76}</string>
                <key>spriteSourceSize</key>
                <string>{121,76}</string>
                <key>textureRect</key>
                <string>{{129,596},{121,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheers3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,76}</string>
                <key>spriteSourceSize</key>
                <string>{144,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheers4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,86}</string>
                <key>spriteSourceSize</key>
                <string>{131,86}</string>
                <key>textureRect</key>
                <string>{{1,244},{131,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheers5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,86}</string>
                <key>spriteSourceSize</key>
                <string>{131,86}</string>
                <key>textureRect</key>
                <string>{{1,332},{131,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{202,903},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{46,80}</string>
                <key>textureRect</key>
                <string>{{1,1034},{46,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,100}</string>
                <key>spriteSourceSize</key>
                <string>{71,100}</string>
                <key>textureRect</key>
                <string>{{1,876},{71,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{115,800},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,101}</string>
                <key>spriteSourceSize</key>
                <string>{112,101}</string>
                <key>textureRect</key>
                <string>{{1,773},{112,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{134,251},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{147,136},{113,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,102}</string>
                <key>spriteSourceSize</key>
                <string>{133,102}</string>
                <key>textureRect</key>
                <string>{{147,1},{133,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,102}</string>
                <key>textureRect</key>
                <string>{{134,366},{113,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grenade0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{192,1078},{53,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grenade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{130,1074},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grenade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,58}</string>
                <key>textureRect</key>
                <string>{{192,1013},{63,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grenade3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,95}</string>
                <key>spriteSourceSize</key>
                <string>{83,95}</string>
                <key>textureRect</key>
                <string>{{1,949},{83,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grenade4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,128}</string>
                <key>spriteSourceSize</key>
                <string>{109,128}</string>
                <key>textureRect</key>
                <string>{{1,420},{109,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grenade5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,120}</string>
                <key>textureRect</key>
                <string>{{1,531},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grenade6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,118}</string>
                <key>spriteSourceSize</key>
                <string>{124,118}</string>
                <key>textureRect</key>
                <string>{{131,470},{124,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grenade7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,118}</string>
                <key>spriteSourceSize</key>
                <string>{124,118}</string>
                <key>textureRect</key>
                <string>{{1,653},{124,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grenade8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,118}</string>
                <key>spriteSourceSize</key>
                <string>{124,118}</string>
                <key>textureRect</key>
                <string>{{127,674},{124,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kiss0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{202,959},{52,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kiss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{192,1133},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{72,1082},{64,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kiss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,90}</string>
                <key>spriteSourceSize</key>
                <string>{97,90}</string>
                <key>textureRect</key>
                <string>{{103,903},{97,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiss4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{92,77}</string>
                <key>textureRect</key>
                <string>{{98,995},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiss5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,69}</string>
                <key>spriteSourceSize</key>
                <string>{79,69}</string>
                <key>textureRect</key>
                <string>{{1,1082},{79,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kiss6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{130,1136},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actionChatAtlas.png</string>
            <key>size</key>
            <string>{251,1184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd2aef0019eaf6d77f8026a5f4a5b5d1:1ab26a4eee27ed6245d29ef550576d7c:d2e2c106444b6337d94aa4a76825e645$</string>
            <key>textureFileName</key>
            <string>actionChatAtlas.png</string>
        </dict>
    </dict>
</plist>
