<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoqin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin15.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>biaoqin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>biaoqin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Images9.png</string>
            <key>size</key>
            <string>{962,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3287243816f4854f7ab9d0c716c95616:75dab7a45463b58de1267735935e7239:16367736a5962ffb28298a8777b08cf8$</string>
            <key>textureFileName</key>
            <string>Images9.png</string>
        </dict>
    </dict>
</plist>
